<% include ../partials/header.ejs%>
<div class="container-fluid">

  <header>
    <div id="header-row" class="row d-flex">
      <div class="col-12 logo d-flex">
        <nav>
          <ul class="d-flex">
            <li><a href="/">Home</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/project/random">Random Project</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/logout">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main class="new-content-main">
    <section id="divider"></section>
    <div class="row">
      <div class="col-8 add-new-section">
        <h1><%=project.title%></h1><br>
        <div class="row">
          <div class="col-2 nc-field-names d-flex">
            <p>Upload Photo:</p><br><br>
            <p id="p2">Step Text:</p>
          </div>
          <div class="col-10 nc-inputs d-flex">
            <form action="/project/<%=project._id%>/update?_method=PUT" method="POST" enctype="multipart/form-data">
              title: <input type="text" name="title" value="<%=project.images[arrId].title%>"><br />
              file: <input type="file" name="imageFile" value="<%=project.images[arrId].image.data%>"><br />
              <br><br>
              <textarea rows="5" cols="60" name="text"><%=project.text[arrId]%></textarea><br><br>
              <input type="hidden" name="index" value="<%=arrId%>">
              <input type="hidden" name="proj_id" value="<%=project._id%>">
              <button>Submit</button>
            </form>
          </div>
        </div>

      </div>
      
      <div class="col-4 preview-section d-flex">
        <div class="row preview-header d-flex">
          <h3>Project Preview</h3>
        </div>
        <div class="row">
          <div class="col-12 prev-inner-header d-flex">
            <h5 class="small-headline"><%=project.title%></h5>
          </div>
        </div>
        <div class="row preview-content">
          <div class="preview-content-inner">
            <% for (let i = 0; i < project.text.length; i++) { -%>
              <p><img src="/project/img/<%=project.images[i]._id%>" /></p>
              <br>
              <p><%=project.text[i]%></p>
              <form action="/project/<%=project._id%>/edit-target" method="POST">
                <input type="hidden" name="index" value="<%=i%>">
                <input type="hidden" name="proj_id" value="<%=project._id%>">
                <button>Edit Step</button>
              </form><br>
            <% } -%>
            
          </div>
          
        </div>
      </div>
    </div>
  </main>

</div>
<% include ../partials/footer.ejs%>