<% include ../partials/header.ejs%>
<div class="container-fluid">

  <header>
    <div id="header-row" class="row d-flex">
      <div class="col-12 logo d-flex">
        <nav>
          <ul class="d-flex">
            <li><a href="/">Home</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/project/random">Random Project</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/logout">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>
    <a href="/project/new">Create New Project</a>
    <br>
    <ul>Apprentice Projects
      <% for (let i = 0; i < apprentice.length; i++) { -%>
        <li><a href="/project/<%=apprentice[i]._id%>"><%=apprentice[i].title%></a></li>
      <% } -%>
    </ul>
    <ul>Journeyperson Projects
      <% for (let i = 0; i < journey.length; i++) { -%>
        <li><a href="/project/<%=journey[i]._id%>"><%=journey[i].title%></a></li>
      <% } -%>
    </ul>
    <ul>Master Projects
      <% for (let i = 0; i < master.length; i++) { -%>
        <li><a href="/project/<%=master[i]._id%>"><%=master[i].title%></a></li>
      <% } -%>
    </ul>
  </main>




</div>
<% include ../partials/footer.ejs%>