<% include ../partials/header.ejs%>
<div class="container-fluid">

  <header>
    <div id="header-row" class="row d-flex">
      <div class="col-12 logo d-flex">
        <nav>
          <ul class="d-flex">
            <li><a href="/">Home</a></li>
            <li><a href="<%= userBarId %>">My Account</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/project/random">Random Project</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/logout">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <main>
    <section id="divider"><p><%= message %>&nbsp;</p></section>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row">
          <div class="col-12 main-project-area d-flex">
            <div id="user-title"><h1><%=foundUser.username%>'s Projects</h1></div><br>
              <a href="/project/new">Create A New Project</a><br>
            <div class="project-div">
              <ul><h4>Apprentice Projects</h4>
                <% for (let i = 0; i < apprentice.length; i++) { -%>
                  <li>
                    <form action="/project/<%=apprentice[i]._id%>?_method=DELETE" method="POST">
                      <p><a href="/project/<%= apprentice[i]._id %>"><%=apprentice[i].title%></a>
                          <button>Delete</button>
                      </p>
                    </form>
                    
                    <form action="/project/<%=apprentice[i]._id%>/edit?_method=PUT" method="POST">
                          <button>Edit</button>
                    </form><br>
                  </li>
                <% } -%>
              </ul>

              <ul><h4>Journeyperson Projects</h4>
                <% for (let i = 0; i < journey.length; i++) { -%>
                  <li>
                    <form action="/project/<%=journey[i]._id%>?_method=DELETE" method="POST">
                      <p><a href="/project/<%= journey[i]._id %>"><%=journey[i].title%></a>
                          <button>Delete</button>
                      </p>
                    </form>
                    
                    <form action="/project/<%=journey[i]._id%>/edit?_method=PUT" method="POST">
                          <button>Edit</button>
                    </form><br>
                  </li>
                <% } -%>
              </ul>

              <ul><h4>Master Projects</h4>
                <% for (let i = 0; i < master.length; i++) { -%>
                  <li>
                    <form action="/project/<%=master[i]._id%>?_method=DELETE" method="POST">
                      <p><a href="/project/<%= master[i]._id %>"><%=master[i].title%></a>
                          <button>Delete</button>
                      </p>
                    </form>
                    
                    <form action="/project/<%=master[i]._id%>/edit?_method=PUT" method="POST">
                          <button>Edit</button>
                    </form><br>
                  </li>
                <% } -%>
              </ul>


            </div>
            
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </main>

</div>
<% include ../partials/footer.ejs%>













